<div class="row">
  <div class="col-sm-12">
    <input type="text" placeholder="Simple Input Label">
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h5> Data from edit form: </h5>

    <table class="table">
      <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>prop1</td>
        <td>display prop1 value here</td>
      </tr>
      <tr>
        <td>prop2</td>
        <td>display prop12 value here</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
