.debug {
  outline: 2px solid #ccc;
  margin: 25px;
  padding: 25px;

  pre {
    max-height: 350px;
    color: #4c4c4c;
    background: white;
    padding: 5px;
  }

  button {
    margin: 3px;
  }
}
